@media only screen and (max-width: 1440px) {
    html {
        font-size: 50%; 
        scroll-behavior: smooth;
    }
    .zsiq_theme1.zsiq_floatmain{ 
        margin-right: 10rem;
    }
}   
@media only screen and (max-width: 1200px) {
    html {
        font-size: 40%; 
        scroll-behavior: smooth;
    }
    .our-products .right {
       padding-right: 5rem;
    }
    .our-products .left__info {
     padding-left: 15rem;
    }
    .statistics .stats-box .stats-abst-right {
       width: 55%;
    }
    .statistics .stats-box .stats-abst-left {
       width: 55%;
    }
    .zsiq_theme1.zsiq_floatmain {
        width: 60px;
        max-height: 60px;
        margin-right: 14rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 33.33%; 
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 1024px) {
    .companies {
        margin: 0;
    }
}


@media only screen and (max-width: 900px) {
    .nav-bar {
        padding: 3rem 8rem !important;
    }
    .sticky {
        padding: 2.5rem 10rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .nav-bar__list {
        display: none;
    }
    .btn {
        display: none;
    }
    .details-section {
        flex-direction: column-reverse;
    }
    .details-section__right {
        width: 100%;
        padding:0; 
        padding-left: 18rem;
    }
    .details-section__left {
        width: 100%;
        margin-top: 8rem;
    }
    .link-icon {
        width: 2.5rem;
    }
    .our-solutions .middle {
        padding: 0rem;
        margin: 0;
    }
    .single-solution-icon {
        img {
            width: 3.5rem;
        }
    }
    .our-solutions .middle .solutions-card .top-left-style {
        width: 60%;
    }
    .our-solutions .middle .solutions-card .bottom-right-style {
        width: 60%;
    }
    .our-products {
       flex-direction: column;
       margin-top: 0;
    }
    .our-products .left {
        width: 100%;
        padding-right: 15rem;
    }
    .our-products .right {
        width: 100%;
        margin-top: 5rem;
        padding-right: 0;
    }
    .testmonials__right .left-quote {
        width: 5%;
        bottom: 10rem;
    }
    .testmonials__right .right-quote {
        right: 7rem;
        width: 5%;
    }
    .contact-company-logo {
        width: 25%;
    }
    .testmonials__right .contact {
       width: 90%;
    }
    .testmonials__right .contact .left-arrow {
        width: 20%;
    }
    .testmonials__right .contact .right-arrow {
        width: 20%;
    }
    .contact-us-box .contact-us__right {
        width: 45%;
    }
    .contact-us-box .contact-us__left{
        width: 55%;
    }
}
@media only screen and (max-width: 475px) {
    .sticky {
        padding: 4.5rem 18rem !important;
    }
    .hero-section {
        flex-direction: column-reverse;
        &__bg {
            bottom: 0;
        }
    }
    .hero-section__pictures {
        width: 100%;
    }
    .hero-section__content-box {
        min-height: 10rem;
    }
    .hero-section__pictures {
        min-height: 10rem;
    }
    .companies {
        padding: 2rem 8rem;
        margin-top: 10rem;
    }
    .companies .company-logo {
        width: 10%;
    }
    .details-section__left .c-letter {
        bottom: -60%;
    }
    .our-solutions {
        margin-top: 10rem;
        flex-direction: column;
        align-items: center;
    }
    .our-solutions .middle .solutions-card {
        margin-bottom: 3rem;
    }
    .view-more-btn {
        display: none;
    }
    .our-products .right {
        margin-top: 10rem;
    }
    .statistics .stats-box {
        min-height: 30rem;
        height: auto;
    }
    .statistics .stats-box .stats-numbers {
        flex-direction: column;
    }
    .statistics .stats-box .stats-numbers__input:not(:last-child) {
        margin-right: 0;
    }
    .statistics .stats-box .stats-numbers__input:not(:last-child) {
        margin-bottom: 5rem;
    }
    .testmonials {
        margin-top: 7rem;
    }
    .testmonials .content {
        flex-direction: column;
    }
    .testmonials__left {
        width: 100%;
    }
    .testmonials__right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-left: 0;
        margin-top: -10rem;
    }
    .testmonials__right .left-quote {
        left: 3rem;
    }
    .testmonials__right .contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 4.5rem;
        width: 100%;
    }
    .icigai-2 {
        margin-top: 5rem;
    }
    .contact-us-box {
        margin-top: 0;
    }
    .contact-us-box {
        width: 100%;
        flex-direction: column;
    }
    .contact-us-box .contact-us__left {
        width: 100%;
    }
    .contact-us-box .contact-us__right {
        width: 100%;
    }
    footer {
        margin-top: 0;
        background-image: none;
        @include linearGradient;    
    }
    footer .footer-inner {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }
    footer .col-1, footer .col-2, footer .col-3, footer .col-4, footer .col-5, footer .col-6, footer .col-7  {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        min-height: 10rem;
        padding-top: 7.5rem;
    }
    footer .col-7 {
        padding-bottom: 5rem;
        padding-left: 0;
    }
    footer .col-1 .copyrights {
        font-size: 2.5rem;
    }
    footer .col-1 a {
        font-size: 2.3rem;
    }
    footer .col-2 a:first-child, footer .col-3 a:first-child, footer .col-4 a:first-child, footer .col-5 a:first-child, footer .col-6 a:first-child {
        font-size: 2.8rem;
    }
    footer .col-2 a:not(:first-child), footer .col-3 a:not(:first-child), footer .col-4 a:not(:first-child), footer .col-5 a:not(:first-child), footer .col-6 a:not(:first-child) {
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 25%; 
        scroll-behavior: smooth;
    }
    .zsiq_theme1.zsiq_floatmain {
        margin-right: 20rem;
        margin-bottom: 1.8rem;
    }
}
