<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script
      src="https://kit.fontawesome.com/538f8c358e.js"
      crossorigin="anonymous"
    ></script>

    <script src="/public/js/main.js" defer></script>

</head>
<body>
    <div class="container">
      <img src="img/left-upper-circle.svg" alt="upper-cirlce" class="left-upper-circle">
      <img src="img/right-upper-circle.svg" alt="lower-circle" class="right-lower-circle">
      <img
      src="img/abstract-shapes-bg.png"
      alt="bg"
      class="container__bg"
    />
    <img src="img/lines.svg" alt="lines" class="lines">
    <img src="img/Triangles.svg" alt="triangles" class="triangles">
    <img src="img/logo.svg" alt="logo" class="thank-you-logo">
    <h1>Thank you for contacting us</h1>
    <p>We will review your message and <br> get back to you</p>
    <a href="/" class="db-rounded-btn hp-btn">Home Page</a>
    </div>
</body>
</html>